*{
 
  background-color: yellow;
  color: black;
  
   }

@font-face {
    font-family: 'Sean';
    src: url('assets/fonts/Sean-Regular.ttf');
  }
  
  body {
    font-family: 'Sean', sans-serif;
    margin: 0;
    padding: 0;
    border: 10px solid black;
    height: 100vh;
  }

 .landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 

 .quiz-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 50px;
    
 }

 .quiz-page h3,
 .quiz-page h4 {
    text-align: right;
    margin: 50px;
 }


 
 .final-page {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background-color: yellow;
    color:black;
    border: black;
 }

 
 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: yellow;
 }

 #left {
    text-align: left;
    border-radius: 8%;
 }

 #timer {
    text-align: right;
    border-radius: 8%;
 }

 .high-scores {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
  }

  .start-button {
   background-color: black;
   color: yellow;
     }
   
     li {
      display: block;
      margin-bottom: 10px;
      border: 5px solid black;
      padding: 10px;
      border-radius: 5px;
      background-color: yellow;
      color: black;
      width: 600px;
     text-align: center;
    }
       
    li.correct {
      border-color: green;
    }
    
    li.incorrect {
      border-color: red;
    }
    
    
    
    
    
    